<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1022906609746-26mq9hl1mpladdhki4ka3nsm2f58321n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022906609746-26mq9hl1mpladdhki4ka3nsm2f58321n</string>
	<key>API_KEY</key>
	<string>AIzaSyAtK1IfZ3DyM6dCsS7W_xAaNKG9jZJkhjo</string>
	<key>GCM_SENDER_ID</key>
	<string>1022906609746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chrishovey.ProvoEvents</string>
	<key>PROJECT_ID</key>
	<string>provo-events</string>
	<key>STORAGE_BUCKET</key>
	<string>provo-events.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022906609746:ios:4d3ed0087c6c2555</string>
	<key>DATABASE_URL</key>
	<string>https://provo-events.firebaseio.com</string>
</dict>
</plist>